/* /////////////////////////
        COLOR BLOCKS
  ////////////////////////// */


/* /////////////////////////
        SIZE BLOCKS
  ////////////////////////// */
$headerHeight : 60px;

/* /////////////////////////
            MIXINS
  ////////////////////////// */
@mixin transform($properties){
  -webkit-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}
